<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>myipaddress - a web service of balitechy.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="What is my ip address?">
    <meta name="author" content="">
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">my<strong>ip</strong>address</a>
<!--           <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              {% if user %}
                  <li><a href="/" title="Logout">{{user}}</a></li>
                  <li class="active"><a href="{{logout_url}}" title="Logout"><i class="icon icon-off"></i> Logout</a></li>
              {% else %}
                  <li class="active"><a href="{{login_url}}" title="Login"><i class="icon icon-lock"></i> Login</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse --> -->
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row">
    {% block content %}
    {% endblock %}
    </div>
    </div> <!-- /container -->

    <!--<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>-->

  </body>
</html>

